:root {
    --main-color-text-lightdark: #35424a;
    --main-color-light: #f4f4f4;
    --main-color-secondary: #ddf8ff;
    --main-color-shadow-purple: rgba(71, 19, 95, 0.1);
}
.bebas-neue-regular {
  font-weight: 400;
  font-style: normal;
}


main {
    background-color: var(--main-color-light);
    margin: 0;
    padding: 0;
    color: var(--main-color-text-lightdark);
    line-height: 1.6rem;
    font-size: 1em;
    align-items: center;
    justify-content: center;
}

main #mainSection {
    align-items: center;
    justify-content: right;
    background: var(--main-color-light);
    font-size: 1.2em;
}

main #mainSection .cardsLine {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 20px;
}

main #mainSection .cardsLine .cards {
    color: var(--main-color-text-lightdark);
    text-align: center;
    background: var(--main-color-light);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--main-color-shadow-purple);
    margin: 10px;
    margin-bottom: 30px;
    width: 100%;
    padding: 4px;
}
main #mainSection .cards:hover {
    display: block;
    color: var(--main-color-text-lightdark);
    box-shadow: 0px 4px 10px var(--main-color-text-lightdark);
    transition: all 0.5s ease;
    transform: scale(1.05);
    cursor: pointer;
}
button {
    background-color: var(--main-color-secondary);
    color: var(--main-color-text-lightdark);
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--main-color-text-lightdark);
    color: var(--main-color-light);
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    
    main #mainSection  {
        width: 100%;
        max-width: 768px;
        gap: 40px;
    }

    #contactSection {
        display: block;
        max-width: 80%;
        gap: 2px;
        margin: 0 auto;
        padding: 0 4px 4px;
        margin-bottom: 20px;
        margin-top: 40px;
        box-shadow: none;
    }
    .cards {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 20px;
        margin-bottom: 10px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .cards h3 {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .cards p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .card-button {
        margin-top: auto;
    }
}

