
main #mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 80%;
    height: 100%;
    margin: 50px;
    
}

main #mainSection .cardsLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main #mainSection .cardsLine .cards{
    display: flex;
    flex-direction: column;
    color: var(--main-color-text-lightdark);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--fade-light-green);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    padding: 0;
    margin: 0;
}

main #mainSection .cards:hover {
    color: var(--main-color-text-lightdark);
    box-shadow: 0px 4px 10px var(--main-color-text-lightdark);
    transition: all 0.5s ease;
    transform: scale(1.05);
    cursor: pointer;
    z-index: 1;
}
main #mainSection .cards {
    display: flex;
    flex-direction: column;
    color: var(--main-color-text-lightdark);
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--fade-light-green);
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 340px;
    padding: 0;
    margin: 0;
    position: relative;
}

main #mainSection .cards .card-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

button {
    background-color: var(--main-color-secondary);
    color: var(--main-color-text-lightdark);
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    width: 400px;
    max-width: 100%;
    margin: 10px auto;
}

button:hover {
    background-color: var(--main-color-text-lightdark);
    color: var(--main-color-light);
    transform: scale(1.05);
}

.card-intern-lines {
    width: 100%;
    height: 100%;
}

.ads-card-rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.ads-card-rows div p, h2{
    text-align: justify;
    font-family: monospace;
    font-size: 0.7em;
    text-justify: inter-ideograph;
    margin: 10px;
    padding: 0;
}

.titlerise {
    font-family: 'Bebas Neue';
    font-size: 1em;
}

#container-showroom-card{
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 99vmax;
    height: 400px;
    box-shadow: 0px 6px 8px var(--fade-light-green);
    border-radius: 8px;
}

#contactSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    box-shadow: none;
    gap: 0;
}
#contactSection #contactForm {
    display: flex;
    width: 100%;
}

#contactSection h2 {
    font-family: 'Bebas Neue';

    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    main {
        gap: 40px;
    }

    .container-showroom-card {
        width: 100%;
    }

    main #mainSection {
        display: flex;
        flex-direction: column;
        block-size: auto;
        font-size: 1.2em;
        margin-bottom: 80px;
        width: 90%;
        height: 100%;
        gap: 60px;
    }

    main #mainSection .cardsLine{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        gap: 40px;
    }

    .cards {
        width: 100%;
        height: 100%;
        padding-top: 10px;
    }
    .cards:hover {
        box-shadow: 0px 0 0 ;
        transform: none;
        cursor: pointer;
        z-index: 1;
    }
    .cards h3 {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .cards p {
        font-size: 1em;
        margin-bottom: 15px;
    }

    .card-button {
        margin-top: auto;
        margin-bottom: 0;
        
    }
    .card-button button {
        width: 200px;
        max-width: 100%;
    }

    #ads-card-row, #ads-card, .ads-card-rows{
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
    }

    #card-overflow-x {
        width: 800px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    #card-overflow-x .cards {
        display: block;
        display: flex;
    }
}

