body {
    font-family: 'Consolas', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin :0;
    padding: 0;
    background: linear-gradient("alice-blue");
}

header {
    background-color: aliceblue;
    max-height: 180px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px;
    color: oklch(from gray 0.5 0 1);;
}

.header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.header-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    list-style: none;
    margin: 0;
}
.header-nav ul li {
    
    cursor: pointer;
}

.header-nav ul li a {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: oklch(from gray 0.6 0.02 1);
}

.header-nav ul li a:hover {
    color: oklch(from gray 0.3 0 1);
    text-decoration: underline;
    font-weight: bold;
    box-shadow: 0px 4px 4px lightslategray;
}

/* Styles para gerenciamento de funcionarios */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 800px;
    color: oklch(from gray 0.3 0 1);
    margin-top: 20px;
    padding: 20px;
}

.main-container-form fieldset {
    width: 100%;
    max-width: 800px;
    border: 1px solid lightslategray;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 2px 4px lightslategray;
}

.main-container-form form .form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    width: 100%;
}

.main-container-form form .form-container input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 240px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid slategray;
    background: aliceblue;
}

.main-container-form form .form-container-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    gap: 30px;
}
.main-container-form form .form-container-button button {
    background: rgb(90, 131, 177);
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    box-shadow: 0px 2px 4px lightslategray;
}

.main-container-form form .form-container-button button:hover {
    background: rgb(70, 111, 157);
}

/* Styles para tabela de funcionarios */

.main-container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1150px;
    margin-bottom: 80px;
}

.main-container-table .table-fieldset {
    width: 100%;
    max-width: 1100px;
    margin-top: 20px;
}

.main-container-table table thead {
    background: aliceblue;
    box-shadow: 0px 2px 4px lightslategray;
}

.main-container-table table th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: oklch(from gray 0.3 0 1);
    font-size: 18px;
    font-family: 'Consolas', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background: aliceblue;
    box-shadow: 0px 2px 4px lightslategray;

}


table {
    width: 100%;
    border: 1px solid lightslategray;
    box-shadow: 0px 2px 4px lightslategray;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-radius: 5px;
}

table td{
    padding: 8px;
    border: 1px solid lightslategray;
    text-align: center;
    text-justify: distribute;
}

.btn-delete {
    background-color: crimson;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-delete:hover {
    background-color: darkred;
}
.btn-edit {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}
.btn-edit:hover {
    background-color: darkslateblue;
}


.main-container-table table thead tr #employee-name {
    width: 250px;
}

.main-container-table table thead tr #employee-role {
    width: 180px;
}

.main-container-table table thead tr #employee-department {
    width: 150px;
}

.main-container-table table thead tr #employee-salary {
    width: 100px;
}

.main-container-table table thead tr #employee-contract {
    width: 100px;
}

.main-container-table table thead tr #employee-admission {
    width: 100px;
}